<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plane.name %>
</p>

<p>
  <strong>Row:</strong>
  <%= @plane.row %>
</p>

<p>
  <strong>Column:</strong>
  <%= @plane.column %>
</p>

<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
